.App {
  text-align: center;
}

.box {
    height: calc(100vh - 180px);
    margin: 10px 10px 0px 10px;
}

.board {
    background: rgba(134,179,86,1);
    background: -moz-linear-gradient(left, rgba(134,179,86,1) 0%, rgba(76,136,12,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,179,86,1)), color-stop(100%, rgba(76,136,12,1)));
    background: -webkit-linear-gradient(left, rgba(134,179,86,1) 0%, rgba(76,136,12,1) 100%);
    background: -o-linear-gradient(left, rgba(134,179,86,1) 0%, rgba(76,136,12,1) 100%);
    background: -ms-linear-gradient(left, rgba(134,179,86,1) 0%, rgba(76,136,12,1) 100%);
    background: linear-gradient(to right, rgba(134,179,86,1) 0%, rgba(76,136,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b356', endColorstr='#4c880c', GradientType=1 );
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.panel {
    background-color: #f2f0f0 !important;
    width: 100%;
}

.row-cards {
    display: flex;
    height: calc(100vh - 180px);
}

.game-btns {
    margin-top: 20px;

    button {
        font-size: 2em;
        font-weight: 600;
    }
}

.modal-footer {
    border: none;
}

.player-panel {
    margin-top: 20px;
    padding-left: 15px;
    text-align: left;
}
